body{
	background-color:#bfc0c0;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	padding-top: 60px;
}
ul{	
	list-style:none;
}
a{
	text-decoration:none;
	color:#f5f5f1;
	font-weight:bold;
}

.button{
	background-color:#414141;
	color:#f5f5f1;
	height:40px;
	width:100px;
	border: solid;
	border-radius:10px;
	font-size:16px;
	font-weight:bold;
}
.button:hover{
	background-color:#235811;
	}

.head{
	background-color:#414141;
	/*background-image: linear-gradient(to top, #2d3142, #353b4e, #3e465b, #475268, #4f5d75);*/
	margin-bottom:0;
	padding-bottom:0;
	overflow:hidden;
	height:150px;
	position:relative;
	padding-bottom: 0px;
}
.head img{
	position:absolute;
	left:60px;
	top:20px;
}

.head #search-box{
	position:absolute;
	right:700px;
	top: 60px;
}
.head #userArea{
	position:absolute;
	right:150px;
	top:5px;
}
.head #user-pp{
	position:absolute;
	right:400px;
	top:10px;
}
#userArea input{
	display:block;
	margin-top:15px;
}

.navbar{
	background-color:#2d3142;
	color:#e50914;			
	float: left;
	padding-bottom:0px;
	border: none;
	width: 100%;
	
}
.navbar ul{
	padding-left:225px;
	padding-bottom:0px;
}

.navbar li{
	display:inline;
}

.navbar a{
	font-size:24px;
	padding-right:20px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.navbar a:hover{
	background-color:#414141;
}

#main-section{
	min-height:600px;
	background-color:#bfc0c0;
	border-radius:15px;	
}

#main{
	float:right;
	width:89%;
	box-sizing:border-box;
}
.bold-text{
	font-weight: bold;
}
#sidebar{
	min-height:600px;
	float:left;
	min-width:10%;
	box-sizing:border-box;
	background-color: #313131;
	/*background-image: radial-gradient(circle, #2d3142, #353b4e, #3e465b, #475268, #4f5d75);*/
}

#sidebar .li{
	float: left;
}

.main-footer{
	background-color: #313131;
	/*background-image: linear-gradient(to bottom, #2d3142, #353b4e, #3e465b, #475268, #4f5d75);*/
	position:relative;
	height:120px;
	margin-top:20px;
	box-sizing:border-box;
}
.main-footer img{
	position:absolute;
	left:60px;
	top:20px;
}
.main-footer a{
	color:#f5f5f1;
}
.main-footer #info-contact{
	position:absolute;
	right:30px;
	bottom:30px;
	
}
.main-footer #copyright{
	position:absolute;
	color:#f5f5f1;
	bottom:10px;
	right:750px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }
}
.ui-datatable-even {
    background-color:#2d3142;
    color: white;
    border:none;
}

.ui-datatable-odd {
    background-color:#2d3142;
    color: white;
    border:none;
}
.ui-datatable-even a{
	color:#4e9a06;
}
.ui-datatable-odd a{
	color:#4e9a06;
}
.ui-datatable-scrollable-header{
	background-color:#2d3142;
}
.ui-datatable-scrollable-body{
	background-color:#2d3142;
}
.ui-datatable-header{
	background-color:#2d3142;
}
.ui-datatable-scrollable-header-box{
	background-color:#2d3142;
}
.ui-widget-header .ui-datatable-scrollable-header{
	background-color:#2d3142;	
}
.ui-paginator{
	background-color:#2d3142;
	color:#f5f5f1;
	}
.ui-paginator-pages .ui-state-active{
	background-color:#2d3142;
	color:#f5f5f1;
}
.ui-paginator-pages .ui-state-default{
	background-color:#2d3142;
	color:#f5f5f1;
}
.ui-paginator-pages .ui-state-hover{
	background-color:#2d3142;
	color:#f5f5f1;
}
.ui-paginator-next .ui-state-default .ui-corner-all{
	background-color:#2d3142;	
}
.ui-paginator-rpp-options{
	background-color:#2d3142;
}
.ui-state-default{
	background-color:#2d3142;
}
/* Dropdown Button */
.dropbtn {
  background-color: #414141;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  min-width: 50px; 
  min-width: 3.6%; 
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  min-width: 3.6%;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 


#container-nav{	
	width: inherit;
	heigth: 16px;
	padding-bottom:0px;
	flex-direction: column;
}


#big-container{
	
	flex-direction: column;
	width: 100%;
	
}


body .ui-datatable thead th {
	background-color: #313131 !important;	
	color: white !important;
}

body .ui-datatable .ui-datatable-data > tr > td {
	background-color: #313131 !important;	
}

body .ui-datatable .ui-paginator.ui-paginator-top {
	background-color: #313131 !important;
}

body .ui-datatable .ui-paginator.ui-paginator-bottom {
	background-color: #313131 !important;
}

body .ui-datatable .ui-datatable-scrollable-header{
	background-color: #313131 !important;
}


.conatiner-boxes {	
	width: 100%;
	height: 500px;
	
}

.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	 padding-top: 20px;
	 
}

.box {
	margin: 10px;
	width: 170px;
	height: 245px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	        box-shadow: 0 0 15px rgba(0,0,0,0.3);
	
}
.box:hover {
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.box h1 {	
	position: relative;
	padding-top: 100px;
	color: #fff;
	padding: 15px 15px 15px 5px;
	padding-top: 120px;
	margin-top: 150px;
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
	        box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.box a{
	color: white;
	background: rgba(0,0,0,0.8);	
	top: 120px;
	position: relative;	
	font-size: 19px;
}


.one {
	background: url('https://source.unsplash.com/900x920');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.two {
	background: url('https://source.unsplash.com/820x900');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.three {
	background: url('https://source.unsplash.com/500x500');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.five {
	background: url('https://source.unsplash.com/550x520');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.six {
	background: url('https://source.unsplash.com/660x630');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.seven {
	background: url('https://source.unsplash.com/700x770');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.eight {
	background: url('https://source.unsplash.com/880x820');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nine {
	background: url('https://source.unsplash.com/898x820');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ten {
	background: url('https://source.unsplash.com/8998x920');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.categories-title{
	padding-top: 40px;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
	color: #313131;	
}
